* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

#main {
  width: 100%;
  height: 100%;
}

.pic {
  width: 100%;
  height: 450px;
  background-image: url(/Img/MainPic.png);
  background-size: cover;
  position: relative;
}
#text {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left: 10%;
  margin-top: 80px;
  /* background-color: black;  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text h1 {
  color: aliceblue;
  font-size: 50px;
  line-height: 47px;
}
#intro h3 {
  color: aliceblue;
  /* margin-left: 10%; */
  font-weight: 100px;
  margin-bottom: 10%;
  opacity: 0.6;
  line-height: 18px;
  /* margin-top: 20px; */
}

#pg {
  color: aqua;
  letter-spacing: 2.5px;
}

#about {
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: #272b3b;
}
#about h3 {
  font-size: 30px;
  color: #fff;
}

#about p {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(164, 160, 160);
  font-family: Arial, Helvetica, sans-serif;
}
#sec {
  width: 100%;
  height: 300px;
  /* background-color: #242734; */
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
}
#box1 {
  width: 200px;
  height: 220px;
  background-color: #424657;
  border-radius: 5%;
  padding: 20px;
}
#box1 h3 {
  line-height: 18px;
  color: azure;
  font-size: 18px;
}
#box1 p {
  color: azure;
  font-size: 9px;
  margin-top: 20px;
}
#box2 {
  width: 200px;
  height: 220px;
  background-color: #424657;
  border-radius: 5%;
  padding: 20px;
}
#box2 h3 {
  line-height: 18px;
  color: azure;
}
#box2 p {
  color: azure;
  font-size: 9px;
  margin-top: 20px;
}
#pro {
  width: 100%;
  height: 120px;
  padding: 20px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* #name {
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* font-size: 19px;
  font-family: fantasy;
  color: rgb(145, 93, 93);
} */

#Code {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#Code img {
  width: 20px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 4px;
}
#Bee {
  width: 20%;
  display: flex;
  justify-content: center;
  color: #fff;
}
#Bee img {
  width: 30px;
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-top: 2px;
}
#Git {
  width: 20%;
  display: flex;
  justify-content: center;
  color: #fff;
}
#Git img {
  width: 17px;
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-top: 4px;
}

#cont {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #1b1e2a;
  text-align: center;
  padding: 3rem;
}
#cont a {
  text-decoration: none;
  color: azure;
}
#cont h2 {
  font-size: 38px;
  color: #5e73ac;
}
#cont i {
  color: azure;
}

.progress {
  /* border: 2px solid red; */
  background: #272b3b;
}
.progress h2 {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  padding: 2rem;
}
.sec h2 {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 1rem;
}
.card {
  padding: 2rem;
  /* margin: 2rem; */
  /* border: 3px solid red; */
  background: #242734;
}
.card h2 {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 1rem;
}
